<!-- Partial intended to be overwritten with tags loaded at the end of the page loading (usually for Javascript) 
<script>
    console.log("running some javascript");
</script>
-->

<div class="footer" style="text-align: center; font-size: small; margin-left: 25%;">
    <hr>
    <p>Copyright © 2014-2021 <a href="http://apache.org">The Apache Software Foundation</a>. All Rights Reserved.</p>
    <p>Apache Flink, Flink®, Apache®, the squirrel logo, and the Apache feather logo are either registered trademarks or trademarks of The Apache Software Foundation.</p>
    <p><a href="{{ .Site.BaseURL }}/privacy-policy.html">Privacy Policy</a></p>
</div>
